@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,100;1,100&display=swap');

:root {
    --primary-color: #a82c48;
    --secondary-color: #43121d;
    --third-color: #555;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Quicksand', sans-serif;
    
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Courier New', Courier, monospace;
}

ul, ol {
    margin: 0;
    padding: 0;
}
.main-btn:hover {
    background-color: transparent;
    color: var(--primary-color);
}
.white-btn:hover{
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
}
wrapper {
    padding-top: 8.25rem;
    padding-bottom: 8.25rem;
}